<!DOCTYPE html>
<html>
<head>
    <title>Market Dashboard</title>
	<meta http-equiv="refresh" content="10">
    <style>
        body {
            font-family: Arial;
            background: #111;
            color: white;
            text-align: center;
        }
        h1 {
            margin-top: 40px;
        }
        .card {
            background: #222;
            padding: 20px;
            margin: 15px;
            border-radius: 10px;
            display: inline-block;
            width: 200px;
        }
    </style>
</head>
<body>

<h1>📈 Market Dashboard</h1>

{% for asset, price in prices.items() %}
<div class="card">
    <h2>{{ asset }}</h2>
    <p>{{ price }}</p>
</div>
{% endfor %}

</body>
</html>
